*.o
*.d
lab1_tester
yfs_client1.log
yfs_client2.log
lock_server.log
extent_server.log
foo.txt.yfs1
foo.txt.yfs2
tmprand
yfs_client
extent_server
datanode
namenode
lock_server
/proto/output/*.o
/part1_tester
/app_public_ip
*.log
